body {
  overflow-x: auto;
  overflow-y: auto;
}

#main {
  position: relative;
}

#main .bg {
  position: fixed;
  bottom: 0%;
  left: 50px;
  height: 90%;
  z-index: 99;
  opacity: 1;
}

@media (max-width: 420px) {
  #main .bg {
    z-index: 0;
    opacity: 0.25;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .bg {
    z-index: 0;
    opacity: 0.25;
    left: 75%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .bg {
    z-index: 0;
    opacity: 0.25;
    left: 75%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  #main .bg {
    height: 80%;
  }
}

#main nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: right;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 299;
}

#main nav .left {
  text-align: left;
  display: inline-block;
  margin-left: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#main nav .left h2 {
  display: inline-block;
  margin: 0;
  margin-right: 50px;
}

#main nav .left h2 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main nav .left h2 a.active {
  color: #ffbf00;
}

#main nav .left h2 a:hover {
  left: 10px;
}

#main nav svg {
  cursor: pointer;
}

@media (max-width: 420px) {
  #main nav svg {
    width: 35px;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main nav svg {
    width: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main nav svg {
    width: 35px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) and (max-height: 640px) {
  #main nav svg {
    width: 35px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (max-height: 640px) {
  #main nav svg {
    width: 35px;
  }
}

#main nav svg line {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main .portfolio {
  height: 100vh;
}

@media (max-width: 420px) {
  #main .portfolio {
    display: block;
    white-space: normal;
    height: auto;
    margin-top: 10vh;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio {
    display: block;
    white-space: normal;
    height: auto;
    margin-top: 10vh;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio {
    display: block;
    white-space: normal;
    height: auto;
    margin-top: 10vh;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#main .portfolio h1 {
  margin: 100px;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 10px;
  padding-left: 20px;
  z-index: 100;
  text-shadow: -10px 5px 15px #000;
  color: #ffbf00;
}

#main .portfolio .about-me {
  font-size: 24px;
  font-weight: 200;
  line-height: 2;
  padding: 0 20px;
}

#main .portfolio .about-me a {
  color: #ffbf00;
}

@media (max-width: 420px) {
  #main .portfolio h1 {
    font-size: 30px;
    margin: 0 20px;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio h1 {
    font-size: 30px;
    margin: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio h1 {
    font-size: 40px;
    margin: 0 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio h1 {
    font-size: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) and (max-height: 640px) {
  #main .portfolio h1 {
    font-size: 50px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio h1 {
    font-size: 50px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (max-height: 640px) {
  #main .portfolio h1 {
    font-size: 50px;
  }
}

#main .portfolio .box {
  position: relative;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 600px;
  height: 600px;
  margin-left: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: normal;
  background-color: #111;
}

@media (max-width: 420px) {
  #main .portfolio .box {
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
    margin-left: 0;
    background-color: transparent;
    left: 0;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box {
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
    margin-left: 0;
    background-color: transparent;
    left: 0;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box {
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
    margin-left: 0;
    background-color: transparent;
    left: 0;
    width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  #main .portfolio .box {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) and (max-height: 640px) {
  #main .portfolio .box {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (max-height: 640px) {
  #main .portfolio .box {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1920px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1920px) and (max-height: 640px) {
  #main .portfolio .box {
    width: 400px;
    height: 400px;
  }
}

#main .portfolio .box .hidden-text {
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.2;
  text-align: justify;
  border-right: 1px solid #ffbf00;
  width: 80%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main .portfolio .box .hidden-text span {
  color: #ffbf00;
}

@media (max-width: 420px) {
  #main .portfolio .box .hidden-text {
    display: block;
    -webkit-transform: none;
    transform: none;
    top: 0;
    right: 0;
    position: relative;
    border-right: none;
    opacity: 1;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box .hidden-text {
    display: block;
    -webkit-transform: none;
    transform: none;
    top: 0;
    right: 0;
    position: relative;
    border-right: none;
    opacity: 1;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box .hidden-text {
    display: block;
    -webkit-transform: none;
    transform: none;
    top: 0;
    right: 0;
    position: relative;
    border-right: none;
    opacity: 1;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  #main .portfolio .box .hidden-text {
    line-height: 1;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) and (max-height: 640px) {
  #main .portfolio .box .hidden-text {
    font-size: 12px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box .hidden-text {
    line-height: 1;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (max-height: 640px) {
  #main .portfolio .box .hidden-text {
    font-size: 12px;
  }
}

@media (min-width: 1920px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box .hidden-text {
    line-height: 1;
  }
}

@media (min-width: 1920px) and (max-height: 640px) {
  #main .portfolio .box .hidden-text {
    font-size: 12px;
  }
}

#main .portfolio .box .hidden-text.visible {
  opacity: 1;
  z-index: 2;
  top: 50%;
}

#main .portfolio .box .hidden-text ul {
  list-style: none;
  text-align: right;
}

#main .portfolio .box .hidden-text ul li {
  margin-bottom: 10px;
}

@media (min-width: 1024px) and (max-width: 1365px) {
  #main .portfolio .box .hidden-text ul li {
    margin-bottom: 5px;
  }
}

@media (max-width: 420px) {
  #main .portfolio .box .hidden-text ul {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box .hidden-text ul {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box .hidden-text ul {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

#main .portfolio .box:hover .expand {
  opacity: 1;
}

#main .portfolio .box:hover {
  -webkit-transform: translateY(-50%) scale(1.1);
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 420px) {
  #main .portfolio .box:hover {
    -webkit-transform: none;
    transform: none;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box:hover {
    -webkit-transform: none;
    transform: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box:hover {
    -webkit-transform: none;
    transform: none;
  }
}

#main .portfolio .box:hover .overlay {
  background-color: #222;
}

@media (max-width: 420px) {
  #main .portfolio .box:hover .overlay {
    background-color: transparent;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box:hover .overlay {
    background-color: transparent;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box:hover .overlay {
    background-color: transparent;
  }
}

#main .portfolio .box:hover button {
  background-color: #000;
  color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 1;
}

#main .portfolio .box:hover h3 {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
}

@media (max-width: 420px) {
  #main .portfolio .box:hover h3 {
    -webkit-transform: none;
    transform: none;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box:hover h3 {
    -webkit-transform: none;
    transform: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box:hover h3 {
    -webkit-transform: none;
    transform: none;
  }
}

#main .portfolio .box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main .portfolio .box img {
  width: 100%;
}

#main .portfolio .box h3 {
  margin: 0;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

@media (max-width: 420px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
    -webkit-transform: none;
    transform: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    cursor: text;
    border-bottom: 1px solid #ffbf00;
    text-align: left;
    display: inline-block;
    width: auto;
    padding-right: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
    -webkit-transform: none;
    transform: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    cursor: text;
    border-bottom: 1px solid #ffbf00;
    text-align: left;
    display: inline-block;
    width: auto;
    padding-right: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
    -webkit-transform: none;
    transform: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    cursor: text;
    border-bottom: 1px solid #ffbf00;
    text-align: right;
    display: inline-block;
    width: auto;
    padding-right: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (max-height: 640px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1920px) and (max-height: 640px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1920px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box h3 {
    font-size: 1.5rem;
  }
}

#main .portfolio .box h3:hover {
  letter-spacing: 5px;
}

@media (max-width: 420px) {
  #main .portfolio .box h3:hover {
    letter-spacing: 0px;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #main .portfolio .box h3:hover {
    letter-spacing: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #main .portfolio .box h3:hover {
    letter-spacing: 0px;
  }
}

#main .portfolio .box h3.clicked {
  top: 20%;
}

@media (min-width: 1024px) and (max-width: 1365px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box h3.clicked {
    top: 15%;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box h3.clicked {
    top: 15%;
  }
}

@media (min-width: 1920px) and (min-height: 640px) and (max-height: 767px) {
  #main .portfolio .box h3.clicked {
    top: 15%;
  }
}
/*# sourceMappingURL=about.css.map */
